.upload-pict-comp {
  
  .galery {
    height: 25em;
    // display: flex;
    overflow: auto;
    img {
      width: 10em;
      height: auto;
      cursor: pointer;
      margin: 10px;
      padding: 5px;
      &:hover{
        border: 2px solid gray;
      }
    }
  }
}