.message-comp {
  border: 2px solid black;
  border-radius: 1em;
  width: 100%;
  height: 20em;
  overflow: auto;
  padding: 3%;

  .chat {
    background-color: gray;
    text-align: left;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 15px;
    margin-bottom: 1em;
    border: 2px solid black;
    border-radius: 1em;
    color: white;

    .time {
      font-size: 10px;
    }

    &.send {
      background-color: maroon !important;
      text-align: right;
      margin-left: 60%;
    }
  }
}

.input-msg {
  margin-top: 1.5em;
  width: 100%;

  input {
    margin-right: 2%;
    width: 80%;
    height: 3em;
    padding: 8px;
  }
}