.container-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .cover {
    
    img {
      width: 100%;
      height: 20rem;
      cursor: pointer;
      
    }

    :hover {
      background-color: #C37500;
      opacity:0.5 !important;
    }
  }
  .info-component {
    display: flex;
    margin-top: 3%;

    .profile {
      background-color: black;
      padding: 10px;
      border-radius: 1em;
      width: 23%;

      .avatar {

        img {
          border-radius: 99%;
          height: 8rem;
          width: 8rem;
          border: 2px solid white;
          cursor: pointer;
        }

        :hover {
          background-color: #C37500;
          opacity:0.5 !important;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 10px;

        .list {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          label {
            font-weight: bold;
            color: white;
          }

          span {
            color: #bcbcbc;
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .history {
    display: flex;
    margin-left: 3%;
    width: 77%;

    .list-comp {
      width: 45%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .list {
        border: 2px solid black;
        height: 35%;
        width: 95%;
        border-radius: 1em;
        padding: 10px;

        .title {
          font-size: 20px !important;
          font-weight: bold;
        }

        .detail {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

}