.container-register {
  margin-top: 5%;

  .link-to {
    cursor: pointer;
    color: maroon;
    &:hover {
      color: gray !important;
    }
  }

  .err-message {
    background-color: red;
    color: white;
    padding: 10px;
  }

  .body-register{
    width: 50%;
  }
  

}